{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

                <ul class="qqq">
                    <li class="qqq">
                        <h2 class="qqq"><a href="/login/" class="login100-form-title p-b-49">Login</a></h2>
                    </li>
                    <li class="qqq">
                        <h2 class="qqq"><a href="/register/" class="login100-form-title p-b-49">SIGN UP</a></h2>
                    </li>
                    <li class="qqq">
                        <h2 class="qqq"><a href="/generation/" class="login100-form-title p-b-49">Генератор фраз</a></h2>
                    </li>
                    <li class="qqq">
                        <h2 class="qqq"><a href="#" class="login100-form-title p-b-49">Считалка слова</a></h2>
                    </li>
                    <li class="qqq">
                        <h2 class="qqq"><a href="#" class="login100-form-title p-b-49">Склонятор слов</a></h2>
                    </li>
                </ul>

{% endblock %}
