{% extends 'base.html' %}


{% block content %}
<div class="formaUserInput">
<h2>{{ ServiceName }}</h2>
<form action="/keyword/generator/submit" method="POST">
<div class="formaUser">
    <div class="UserGenerator">
        <p>Список слов 1</p>
         <textarea class="formgenerator" name="colamn0" rows="10" data-rule="required" data-msg="Please write something for us" placeholder="Каждое слово с новой строки"></textarea>
    </div>
    <div class="UserGenerator">
        <p>Список слов 2</p>
         <textarea class="formgenerator" name="colamn1" rows="10" data-rule="required" data-msg="Please write something for us" placeholder="Каждое слово с новой строки"></textarea>
    </div>
     <div class="UserGenerator">
        <p>Список слов 3</p>
         <textarea class="formgenerator" name="colamn2" rows="10" data-rule="required" data-msg="Please write something for us" placeholder="Каждое слово с новой строки"></textarea>
    </div>
    <div class="UserGenerator">
        <p>Список слов 4</p>
         <textarea class="formgenerator" name="colamn3" rows="10" data-rule="required" data-msg="Please write something for us" placeholder="Каждое слово с новой строки"></textarea>
    </div>
    <div class="UserGenerator">
        <p>Список слов 5</p>
         <textarea class="formgenerator" name="colamn4" rows="10" data-rule="required" data-msg="Please write something for us" placeholder="Каждое слово с новой строки"></textarea>
    </div>
    <div class="UserGenerator">
        <p>Список слов 6</p>
         <textarea class="formgenerator" name="colamn5" rows="10" data-rule="required" data-msg="Please write something for us" placeholder="Каждое слово с новой строки"></textarea>
    </div>
    <div class="UserGenerator">
        <p>Список слов 7</p>
         <textarea class="formgenerator" name="colamn6" rows="10" data-rule="required" data-msg="Please write something for us" placeholder="Каждое слово с новой строки"></textarea>
    </div>
    </div>
        <div class="UserInput">
         <textarea class="formgeneratorresult" name="message" rows="10" data-rule="required" data-msg="Please write something for us" placeholder="Результат">{{ result }}</textarea>
    </div>
    <div class="text-center"><button type="submit" title="Send Message">Получить результат</button></div>
</form>
</div>
{% endblock %}
