<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

      <!-- Favicons -->
      <link href="{{ url_for('static', filename='img/favicon.png')}}" rel="icon">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">
      <!-- Bootstrap CSS File -->
      <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
      <!-- Libraries CSS Files -->
      <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
      <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
      <!-- Main Stylesheet File -->
      <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">
      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="/" class="scrollto"><span>Meow</span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>
      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Домой</a></li>
            <li><a href="/team">Команда</a></li>
          <li class="drop-down"><a href="#">Инструменты</a>
            <ul>
              <li class="drop-down"><a href="#">Работа с ключевыми фразами</a>
                <ul>
                  <li><a href="/keyword/generator">Генератор фраз</a></li>
                  <li><a href="/keyword/inclinator">Склонение ключевых слов</a></li>
                  <li><a href="/keyword/lemmatizer">Лемматизатор</a></li>
                  <li><a href="/keyword/synonymizer">Синонимайзер</a></li>
                  <li><a href="/keyword/wordcount">Считалка слов</a></li>
                  <li><a href="/keyword/crossminus">Кросс-минусовка фраз</a></li>
                  <li><a href="/keyword/trimutm">Удаление UTM меток</a></li>
                  <li><a href="/keyword/cityremover">Удаление городов</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav><!-- .main-nav -->
    </div>
  </header><!-- #header -->

{% block content %}
{% endblock %}

</body>
</html>
